@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
:root {
    --primary-color: deepskyblue;
    --dark-gray: #4f5155;
    --off-white: #D1D5DB;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/* containers */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-contents {
    height: 600px;
}

.container-center {
    max-width: 600px;
    margin: auto;
    text-align: center;
    justify-content: center;
}


/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline-block;
    padding: 0rem 0.5rem;
}


/* navigation */

.navigation {
    background-color: black;
    color: white;
    padding: 0.5rem;
    /* border-radius: 1rem; */
    /* border-bottom-left-radius: 2rem; */
    /* border-top-left-radius: 2rem; */
}

.navigation .nav-brand {
    font-weight: bold;
    /* font-size: 1.1rem; */
}

.navigation .nav-pills {
    text-align: center;
}

.navigation .link {
    color: white;
}

.navigation .link-nav:hover {
    color: var(--primary-color);
}

.navigation .link-active {
    /* text-decoration: underline; */
    /* font-weight: 900; */
    color: var(--primary-color);
}


/* section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.not-white {
    background-color: black;
    color: white;
}


/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
    /* display: flex; */
    /* float: left; */
    /* justify-content: center; */
    /* align-items: stretch;
    flex-direction: column; */
}

.hero .hero-img {
    width: 100%;
    /* float: left; */
    /* max-width: 350px; */
    /* display: flex; */
    /* margin: auto; */
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}