@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/* comfortaa and ubuntu */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root {
    --primary-color: #3B82F6;
    --dark-gray: #6B7280;
    --off-white: #D1D5DB;
    --third-color: #F59E0B;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

.heading {
    font-weight: normal;
    color: var(--third-color);
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin: auto; */
}

.container-centered {
    max-width: 600px;
    margin: auto;
}

.hero-welcome {
    color: var(--primary-color);
}


/* input text area */

.inputText {
    height: 2rem;
    width: 50%;
    border-radius: 0.3rem;
    border-style: none;
    border: 0.5px solid black;
    padding: 0.5rem;
}


/* button */

.btn {
    background-color: var(--third-color);
    border-radius: 0.5rem;
    color: white;
    border-style: none;
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    width: 10%;
    text-align: center;
    justify-content: center;
    /* border-radius: 1px solid var(--third-color); */
}

.btn:hover {
    background-color: white;
    color: var(--third-color);
    border: 0.5px solid var(--third-color);
}

.hero-img {
    /* padding: 2rem;
    padding-top: 5rem; */
    max-width: 350px;
    display: flex;
    margin: auto;
}