@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
 :root {
    --primary-color: deepskyblue;
    --dark-gray: #4f5155;
    --off-white: #D1D5DB;
    --secondry-color: #f7b733;
    --third-color: #f4511e;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin: 0px;
}

i {
    color: var(--third-color);
}

i:nth-child(2) {
    color: lightskyblue;
}

i:nth-child(3) {
    color: green;
}

i:nth-child(5) {
    color: var(--primary-color);
}


/* containers */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    margin: auto;
    /* display: flexbox; */
    /* padding-bottom: 1rem; */
}

.container-contents {
    max-height: 400px;
}

.container-center {
    max-width: 800px;
    margin: auto;
    text-align: center;
    justify-content: center;
    /* -ms-text-size-adjust: auto; */
}

.container-mini {
    height: 200px;
    /* display: block; */
    justify-content: center;
    text-align: center;
}


/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
margin-bottom: 1rem; */
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/* buttons */

.big-btn-project {
    /* background-color: var(--third-color);
padding: 1rem;
border: auto;
border-color: var(--third-color); */
    border: 2px solid black;
    background-color: var(--third-color);
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    border-color: var(--third-color);
    /* color: red */
}

.big-btn-project:hover {
    background: black;
    color: var(--third-color);
}

.big-btn-blog {
    border: 2px solid white;
    background-color: white;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-color: black;
}

.big-btn-blog:hover {
    background: black;
    color: white;
}

.big-btn-resources {
    border: 2px solid black;
    background-color: var(--primary-color);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-color: var(--primary-color);
}

.big-btn-resources:hover {
    background: black;
    color: var(--primary-color);
}


/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline-block;
    padding: 0rem 0.5rem;
}


/* navigation */

.navigation {
    background-color: black;
    color: white;
    padding: 0.5rem;
    /* border-radius: 1rem; */
    /* border-bottom-left-radius: 2rem; */
    /* border-top-left-radius: 2rem; */
}

.navigation .nav-brand {
    font-weight: bold;
    /* font-size: 1.1rem; */
}

.navigation .nav-pills {
    text-align: center;
}

.navigation .link {
    color: white;
}

.navigation .link-nav:hover {
    color: var(--primary-color);
}

.navigation .link-active {
    /* text-decoration: underline; */
    /* font-weight: 900; */
    color: var(--primary-color);
}


/* section */

.section {
    padding: 2rem;
    margin: auto;
}

.section h1 {
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
}

.not-white {
    background-color: black;
    color: white;
}

.not-white h1 {
    font-size: xx-large;
    font-weight: lighter;
    color: var(--secondry-color);
}


/* .not-white h4 {
color: #f7b733;
} */


/* header */

.hero {
    padding: 1rem;
    padding-top: 5rem;
    /* justify-content: center; */
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
    font-weight: lighter;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.second-heading {
    /* size: 105px; */
    font-size: xx-large;
    font-weight: lighter;
    color: var(--secondry-color);
}

.third-heading {
    color: red;
}

.fourth-heading {
    color: var(--primary-color);
    font-size: x-large;
    font-weight: lighter;
}


/* footer */

.footer {
    background-color: var(--dark-gray);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    bottom: 0px;
    /* border-top-right-radius: 1rem; */
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    /* this is a user agent, given by chrome so we are overriding it */
    padding-inline-start: 0px;
}


/* cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    /* display: flex;
flex-direction: column; */
}

.heading-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* transition: 0.3s; */
    width: 80%;
    text-align: center;
    justify-content: center;
    /* padding: 1rem; */
    margin: auto;
    /* margin-top: 0px; */
    font-weight: lighter;
    /* font-size: medium; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* text-align: center;
justify-content: center; */
    transition: 0.3s;
    -webkit-text-size-adjust: auto;
}

.card-container {
    padding: 2rem;
}

.card-container h4 {
    font-weight: lighter;
}

.card-container a {
    text-decoration: none;
    color: black;
}

.card-container h4:hover {
    text-decoration: underline;
}